<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LodgioApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApplication"
        tools:targetApi="31">

        <!-- ═══ Auth Feature ═══ -->
        <activity
            android:name=".features.auth.view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.view.RegisterActivity"
            android:exported="false" />

        <!-- ═══ Listing Feature ═══ -->
        <activity
            android:name=".features.listing.view.GuestDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".features.listing.view.HostDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".features.listing.view.ListingDetailActivity"
            android:exported="false" />

        <activity
            android:name=".features.listing.view.CreateListingActivity"
            android:exported="false" />

        <!-- ═══ Booking Feature ═══ -->
        <activity
            android:name=".features.booking.view.ConfirmBookingActivity"
            android:exported="false" />

        <activity
            android:name=".features.booking.view.CheckoutActivity"
            android:exported="false" />

        <!-- ═══ Profile Feature ═══ -->
        <activity
            android:name=".features.profile.view.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".features.profile.view.UpdateProfileActivity"
            android:exported="false" />

        <activity
            android:name=".features.profile.view.ChangePasswordActivity"
            android:exported="false" />

        <!-- ═══ Admin Feature ═══ -->
        <activity
            android:name=".features.admin.view.AdminDashboardActivity"
            android:exported="false" />

    </application>

</manifest>